.bestseller-section {
  padding: 5rem 0;
  background-color: #fffaf5; /* Warna krem lembut */
}
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.section-subtitle {
  max-width: 600px;
  margin: 0 auto 3rem auto;
  text-align: center;
  color: #666;
}